@using MvcTables.Configuration
@using MvcTables.Samples.App_Start
@using MvcTables.Samples.NorthwindEntities

@{
    var table = Html.MvcTable(() => new CategoryTable());
}
<section id="Result" class="spy-on-me">
    <h4>Result</h4>
    @table.Table()

</section>
<section id="Config"  class="spy-on-me">
    <h4>Config</h4>
    <pre class="prettyprint table-config">
    public class CategoryTable : MvcTable&lt;Category&gt;
    {
        public override void Configure(IStaticTableConfiguration&lt;Category&gt; config)
        {
            config
                .ScaffoldAllColumns()
                .SetAction(&quot;ListCategories&quot;, &quot;Northwind&quot;)
                .SetCssClass(&quot;table table-striped&quot;);
        }
    }
</pre>

</section>
<section id="ChildAction"  class="spy-on-me">
    <h4>Child Action</h4>
    <pre class="prettyprint table-config">
        public ActionResult ListCategories(TableRequestModel request)
        {
            var entities = new NorthwindEntities(NorthwindServiceUrl);
            return TableResult.From(entities.Categories).Build&lt;CategoryTable&gt;(request);
        }
</pre>

</section>
<section id="Markup"  class="spy-on-me">
    <h4>Markup</h4>
    <pre class="prettyprint table-config">
    @@Html.Action("ListCategories", new { request = new TableRequestModel() })
</pre>
</section>