@using MvcTables.Configuration
@using MvcTables.Samples.App_Start
@using MvcTables.Samples.NorthwindEntities


<section id="Result"  class="spy-on-me">
    <h4>Result</h4>
    @Html.Action("ListCategoriesDefault")
</section>
<section id="Config" class="spy-on-me">
    <h4>Config</h4>
    <pre class="prettyprint table-config">
    //None!!
</pre>

</section>
<section id="ChildAction" class="spy-on-me">
    <h4>Child Action</h4>
    <pre class="prettyprint table-config">
        public ActionResult ListCategoriesDefault(TableRequestModel request)
        {
            var entities = new NorthwindEntities(NorthwindServiceUrl);
            return TableResult.From(entities.Categories).Default(request);
        }
</pre>

</section>
<section id="Markup" class="spy-on-me">
    <h4>Markup</h4>
    <pre class="prettyprint table-config">
    @@Html.Action("ListCategoriesDefault")
</pre>
</section>