
@using MvcTables.Samples.App_Start
@using MvcTables.Samples.HtmlExtensions
@model MvcTables.Samples.Models.FiltersModel

@{
    ViewBag.Title = "Filters";
    var table = Html.MvcTable(() => new OrderFilterTable());
}
<section id="Result">
    <h4>Result</h4>
    <div class="row-fluid">
        <div class="span6">
            <form class="mvc-table-filter">
                <fieldset>
                    <legend>Form Updates</legend>
                    <label class="control-label" for="inputEmail">Customer</label>
                    @Html.DropDownListFor(m => m.SelectedCustomerId, Model.Customers, m => m.CustomerID, m => m.ContactName)
                    <div>
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span4 offset1">
            <fieldset>
                <legend>Auto Updates</legend>
                <label class="control-label" for="inputEmail">Customer</label>
                @Html.DropDownListFor(m => m.SelectedCustomerId, Model.Customers, m => m.CustomerID, m => m.ContactName, new {@class = "mvc-table-filter"})

            </fieldset>
        </div>

    </div>

    @table.Table()

</section>
<section id="Config">
    <h4>Config</h4>
    <pre class="prettyprint table-config">
    public class OrderFilterConfigurator : TableConfigurator&lt;Order&gt;
    {
        public override void Configure(ITableConfiguration&lt;Order&gt; config)
        {
            config
                .SetCssClass("table table-striped")
                   .ConfigurePagingControl(p => p.ShowPagingControl(true))
                  .HiddenColumnFor(c => c.OrderID, cfg => cfg.Hide())
                  .DisplayForColumn(c => c.Customer.ContactName)
                  .DisplayForColumn(c => c.Customer.City)
                  .DisplayForColumn(c => c.Shipper.CompanyName)
                  .DisplayForColumn(c => c.ShipRegion)
                  .DisplayForColumn(c => c.Order_Details[0].Quantity)
                  .ConfigurePagingControl(p => p.SetContainerCssClass("pagination"));

            SetName("Filters");
        }
    }
</pre>

</section>
<section id="ChildAction">
    <h4>Child Action</h4>
    <pre class="prettyprint table-config">
    public ActionResult ListOrdersForFilters(TableRequestModel request, FiltersModel model)
    {
        var entities = new NorthwindEntities.NorthwindEntities(NorthwindServiceUrl);
        IQueryable&ltOrder&gt; orders = entities.Orders.Expand(o => o.Customer).Expand(o => o.Shipper).Expand(o => o.Order_Details);
        if (!String.IsNullOrEmpty(model.SelectedCustomerId))
            orders = orders.Where(o => o.CustomerID == model.SelectedCustomerId);
        return new TableResult&ltOrder&gt(orders, "Filters", request);
    }
</pre>

</section>
<section id="Markup">
    <h4>Markup</h4>
    <pre class="prettyprint table-config">
&lt;div class=&quot;row-fluid&quot;&gt;<br/>    &lt;div class=&quot;span6&quot;&gt;<br/>        &lt;form class = &quot;mvc-table-filter&quot;&gt;<br/>            &lt;fieldset&gt;<br/>                &lt;legend&gt;Form Updates&lt;/legend&gt;<br/>                &lt;label class=&quot;control-label&quot; for=&quot;inputEmail&quot;&gt;Customer&lt;/label&gt;<br/>                @@Html.DropDownListFor(m =&gt; m.SelectedCustomerId, Model.Customers, m =&gt; m.CustomerID, m =&gt; m.ContactName)<br/>                &lt;div&gt;<br/>                    &lt;input type=&quot;submit&quot; value=&quot;Search&quot; class=&quot;btn btn-primary&quot; /&gt;<br/>                &lt;/div&gt;<br/>            &lt;/fieldset&gt;<br/>        &lt;/form&gt;<br/>    &lt;/div&gt;<br/>    &lt;div class=&quot;span4 offset1&quot;&gt;<br/>        &lt;fieldset&gt;<br/>            &lt;legend&gt;Auto Updates&lt;/legend&gt;<br/>            &lt;label class=&quot;control-label&quot; for=&quot;inputEmail&quot;&gt;Customer&lt;/label&gt;<br/>            @@Html.DropDownListFor(m =&gt; m.SelectedCustomerId, Model.Customers, m =&gt; m.CustomerID, m =&gt; m.ContactName, new { @@class = &quot;mvc-table-filter&quot; })<br/><br/>        &lt;/fieldset&gt;<br/>    &lt;/div&gt;<br/><br/>&lt;/div&gt;
</pre>
</section>