
@using MvcTables.Samples.App_Start
@using MvcTables.Samples.HtmlExtensions
@model MvcTables.Samples.Models.FiltersModel

@{
    ViewBag.Title = "Filters";
    var table = Html.MvcTable(() => new OrderFilterTable());
}
<section id="Result" class="spy-on-me">
    <h4>Result</h4>
    <div class="row-fluid">
        <div class="span6">
            <form class="mvc-table-filter">
                <fieldset>
                    <legend>Form Updates</legend>
                    <label class="control-label" for="inputEmail">Customer</label>
                    @Html.DropDownListFor(m => m.SelectedCustomerId, Model.Customers, m => m.CustomerID, m => m.ContactName)
                    <div>
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span4 offset1">
            <fieldset>
                <legend>Auto Updates</legend>
                <label class="control-label" for="inputEmail">Customer</label>
                
                @Html.DropDownListFor(m => m.SelectedCustomerId, Model.Customers, m => m.CustomerID, m => m.ContactName, new {@class = table.FilterClass})

            </fieldset>
        </div>

    </div>
    @table.PageSizer(5,10,15,20)
    @table.Table()

</section>
<section id="Config" class="spy-on-me">
    <h4>Config</h4>
    <pre class="prettyprint table-config">
    public class OrderFilterTable : MvcTable&lt;Order&gt;
    {
        public override void Configure(IStaticTableConfiguration&lt;Order&gt; config)
        {
            config.SetAction(&quot;ListOrdersForFilters&quot;, &quot;Northwind&quot;)
                  .SetCssClass(&quot;table table-striped&quot;)
                  .HiddenColumnFor(c =&gt; c.OrderID, cfg =&gt; cfg.Hide())
                  .DisplayForColumn(c =&gt; c.Customer.ContactName)
                  .DisplayForColumn(c =&gt; c.Customer.City)
                  .DisplayForColumn(c =&gt; c.Shipper.CompanyName)
                  .DisplayForColumn(c =&gt; c.ShipRegion)
                  .DisplayForColumn(c =&gt; c.Order_Details[0].Quantity)
                  .ConfigurePagingControl(p =&gt; p.SetContainerCssClass(&quot;pagination&quot;));
        }
    }
</pre>

</section>
<section id="ChildAction" class="spy-on-me">
    <h4>Child Action</h4>
    <pre class="prettyprint table-config">
        public ActionResult ListOrdersForFilters(TableRequestModel request, FiltersModel model)
        {
            var entities = new NorthwindEntities(NorthwindServiceUrl);
            IQueryable&lt;Order&gt; orders =
                entities.Orders.Expand(o =&gt; o.Customer).Expand(o =&gt; o.Shipper).Expand(o =&gt; o.Order_Details);
            if (!String.IsNullOrEmpty(model.SelectedCustomerId))
            {
                orders = orders.Where(o =&gt; o.CustomerID == model.SelectedCustomerId);
            }
            return TableResult.From(orders).Build&lt;OrderFilterTable&gt;(request);
        }
</pre>

</section>