<div class="clearfix announce instapaper_body md">
    <article class="markdown-body entry-content" itemprop="mainContentOfPage">
        <h1>MvcTables</h1>

        <p>An AJAX/HTML Table framework for ASP.Net MVC</p>

        <p>Supports:</p>

        <ul>
            <li>paging, </li>
            <li>sorting,</li>
            <li>filtering,</li>
            <li>MVC Edit/Display templates for cell markup,</li>
            <li>Partial Views for cell markup,</li>
            <li>HtmlHelper style column configuration</li>
            <li>Fluent configuration</li>
        </ul>
        <h2>
            <a name="configuration" class="anchor" href="#configuration"><span class="octicon octicon-link"></span></a>Configuration</h2>

        <p>
            To save loads of messy boiler plate code clogging up Controller actions, the tables can be configured at startup.
Any class that inherits <code>TableConfigurator&lt;TType&gt;</code> can be registered int the <em>global.asax</em> thusly:
        </p>

        <dl>
            <dt>Global.asax</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre>    <span class="k">public</span> <span class="k">class</span> <span class="nc">MvcApplication</span> <span class="p">:</span> <span class="n">System</span><span class="p">.</span><span class="n">Web</span><span class="p">.</span><span class="n">HttpApplication</span>
    <span class="p">{</span>
        <span class="k">protected</span> <span class="k">void</span> <span class="nf">Application_Start</span><span class="p">()</span>
        <span class="p">{</span>
            <span class="c1">//Regular MVC Setup hoo haa</span>
            <span class="n">ConfigureMvcTables</span><span class="p">.</span><span class="n">InTheSameAssembly</span><span class="p">.</span><span class="n">As</span><span class="p">&lt;</span><span class="n">MvcApplication</span><span class="p">&gt;();</span>
        <span class="p">}</span>
    <span class="p">}</span>
</pre>
        </div>

        <dl>
            <dt>Usage - Action Method</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre>    <span class="k">public</span> <span class="n">ActionResult</span> <span class="nf">ListEmployees</span><span class="p">(</span><span class="n">TableRequestModel</span> <span class="n">request</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="kt">var</span> <span class="n">entities</span> <span class="p">=</span> <span class="k">new</span> <span class="n">NorthwindEntities</span><span class="p">.</span><span class="n">NorthwindEntities</span><span class="p">(</span><span class="n">NorthwindServiceUrl</span><span class="p">);</span>
        <span class="k">return</span> <span class="k">new</span> <span class="n">TableResult</span><span class="p">&lt;</span><span class="n">Employee</span><span class="p">&gt;(</span><span class="n">entities</span><span class="p">.</span><span class="n">Employees</span><span class="p">,</span> <span class="n">request</span><span class="p">);</span>
    <span class="p">}</span>
</pre>
        </div>

        <dl>
            <dt>Auto Configuration</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre><span class="k">public</span> <span class="k">class</span> <span class="nc">CategoryTable</span> <span class="p">:</span> <span class="n">MvcTable</span><span class="p">&lt;</span><span class="n">Category</span><span class="p">&gt;</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">override</span> <span class="k">void</span> <span class="nf">Configure</span><span class="p">(</span><span class="n">ITableConfiguration</span><span class="p">&lt;</span><span class="n">Category</span><span class="p">&gt;</span> <span class="n">config</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">config</span>
            <span class="p">.</span><span class="n">SetCssClass</span><span class="p">(</span><span class="s">"table table-striped"</span><span class="p">)</span>
            <span class="p">.</span><span class="n">ScaffoldAllColumns</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre>
        </div>

        <dl>
            <dt>Basic Configuration</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre>    <span class="k">public</span> <span class="k">class</span> <span class="nc">InvoiceTable</span> <span class="p">:</span> <span class="n">MvcTable</span><span class="p">&lt;</span><span class="n">Invoice</span><span class="p">&gt;</span>
    <span class="p">{</span>
        <span class="k">public</span> <span class="k">override</span> <span class="k">void</span> <span class="nf">Configure</span><span class="p">(</span><span class="n">ITableConfiguration</span><span class="p">&lt;</span><span class="n">Invoice</span><span class="p">&gt;</span> <span class="n">config</span><span class="p">)</span>
        <span class="p">{</span>
            <span class="n">config</span>
                <span class="p">.</span><span class="n">SetCssClass</span><span class="p">(</span><span class="s">"table table-striped"</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">m</span> <span class="p">=&gt;</span> <span class="n">m</span><span class="p">.</span><span class="n">ProductName</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">m</span> <span class="p">=&gt;</span> <span class="n">m</span><span class="p">.</span><span class="n">Quantity</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">m</span> <span class="p">=&gt;</span> <span class="n">m</span><span class="p">.</span><span class="n">Region</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">m</span> <span class="p">=&gt;</span> <span class="n">m</span><span class="p">.</span><span class="n">Salesperson</span><span class="p">)</span>
                <span class="p">.</span><span class="n">EditorForColumn</span><span class="p">(</span><span class="n">m</span> <span class="p">=&gt;</span> <span class="n">m</span><span class="p">.</span><span class="n">Discount</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span>
</pre>
        </div>

        <dl>
            <dt>More Complex Configuration</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre>    <span class="k">public</span> <span class="k">class</span> <span class="nc">OrderDetailTable</span> <span class="p">:</span> <span class="n">MvcTable</span><span class="p">&lt;</span><span class="n">Order_Detail</span><span class="p">&gt;</span>
    <span class="p">{</span>
        <span class="k">public</span> <span class="k">override</span> <span class="k">void</span> <span class="nf">Configure</span><span class="p">(</span><span class="n">ITableConfiguration</span><span class="p">&lt;</span><span class="n">Order_Detail</span><span class="p">&gt;</span> <span class="n">config</span><span class="p">)</span>
        <span class="p">{</span>
            <span class="n">config</span>
                <span class="p">.</span><span class="n">SetCssClass</span><span class="p">(</span><span class="s">"table table-striped"</span><span class="p">)</span>
                <span class="p">.</span><span class="n">ConfigurePagingControl</span><span class="p">(</span><span class="n">p</span> <span class="p">=&gt;</span> <span class="n">p</span><span class="p">.</span><span class="n">ShowPagingControl</span><span class="p">(</span><span class="k">true</span><span class="p">))</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">c</span> <span class="p">=&gt;</span> <span class="n">c</span><span class="p">.</span><span class="n">Product</span><span class="p">.</span><span class="n">ProductName</span><span class="p">,</span> 
                    <span class="n">cfg</span> <span class="p">=&gt;</span> <span class="n">cfg</span><span class="p">.</span><span class="n">DefineFooter</span><span class="p">((</span><span class="n">h</span><span class="p">,</span> <span class="n">rows</span><span class="p">)</span> <span class="p">=&gt;</span> <span class="n">rows</span><span class="p">.</span><span class="n">Any</span><span class="p">()</span> <span class="p">?</span> <span class="s">"Order ID: "</span> <span class="p">+</span> <span class="n">rows</span><span class="p">.</span><span class="n">First</span><span class="p">().</span><span class="n">OrderID</span> <span class="p">:</span> <span class="s">""</span><span class="p">))</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">c</span> <span class="p">=&gt;</span> <span class="n">c</span><span class="p">.</span><span class="n">Quantity</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">c</span> <span class="p">=&gt;</span> <span class="n">c</span><span class="p">.</span><span class="n">UnitPrice</span><span class="p">)</span>
                <span class="p">.</span><span class="n">DisplayForColumn</span><span class="p">(</span><span class="n">c</span> <span class="p">=&gt;</span> <span class="n">c</span><span class="p">.</span><span class="n">LineTotal</span><span class="p">,</span> 
                    <span class="n">cfg</span> <span class="p">=&gt;</span> <span class="n">cfg</span><span class="p">.</span><span class="n">DefineFooter</span><span class="p">((</span><span class="n">h</span><span class="p">,</span><span class="n">rows</span><span class="p">)</span> <span class="p">=&gt;</span> <span class="n">rows</span><span class="p">.</span><span class="n">Any</span><span class="p">()</span> <span class="p">?</span> <span class="n">rows</span><span class="p">.</span><span class="n">Sum</span><span class="p">(</span><span class="n">od</span> <span class="p">=&gt;</span> <span class="n">od</span><span class="p">.</span><span class="n">LineTotal</span><span class="p">).</span><span class="n">ToString</span><span class="p">(</span><span class="s">"c"</span><span class="p">)</span> <span class="p">:</span> <span class="s">""</span><span class="p">))</span>
                <span class="p">.</span><span class="n">ConfigurePagingControl</span><span class="p">(</span><span class="n">p</span> <span class="p">=&gt;</span> <span class="n">p</span><span class="p">.</span><span class="n">ShowPagingControl</span><span class="p">(</span><span class="k">false</span><span class="p">))</span>
                <span class="p">.</span><span class="n">SetFilterSelector</span><span class="p">(</span><span class="s">"childFilter"</span><span class="p">);</span>

            <span class="n">SetName</span><span class="p">(</span><span class="s">"ChildOrderDetails"</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span>
</pre>
        </div>

        <dl>
            <dt>Runtime Configuration Overrides - Action Method</dt>
            <dd></dd>
        </dl>
        <div class="highlight">
            <pre>    <span class="k">public</span> <span class="n">ActionResult</span> <span class="nf">ListEmployees</span><span class="p">(</span><span class="n">TableRequestModel</span> <span class="n">request</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="kt">var</span> <span class="n">entities</span> <span class="p">=</span> <span class="k">new</span> <span class="n">NorthwindEntities</span><span class="p">.</span><span class="n">NorthwindEntities</span><span class="p">(</span><span class="n">NorthwindServiceUrl</span><span class="p">);</span>

        <span class="kt">var</span> <span class="n">result</span> <span class="p">=</span> <span class="k">new</span> <span class="n">TableResult</span><span class="p">&lt;</span><span class="n">Employee</span><span class="p">&gt;(</span><span class="n">entities</span><span class="p">.</span><span class="n">Employees</span><span class="p">,</span> <span class="n">request</span><span class="p">);</span>

        <span class="c1">// Override configuration</span>
        <span class="n">result</span><span class="p">.</span><span class="n">Overrides</span><span class="p">.</span><span class="n">EditorForColumn</span><span class="p">(</span><span class="n">d</span> <span class="p">=&gt;</span> <span class="n">d</span><span class="p">.</span><span class="n">HireDate</span><span class="p">,</span> <span class="n">cfg</span> <span class="p">=&gt;</span> <span class="n">cfg</span><span class="p">.</span><span class="n">SetIndex</span><span class="p">(</span><span class="m">1</span><span class="p">));</span>
        <span class="k">return</span> <span class="n">result</span><span class="p">;</span>
    <span class="p">}</span>
</pre>
        </div>
    </article>
</div>
