
<section id="Result">
    <h4>Result</h4>
    @Html.TableHelper("ListInvoices").Table()
    @Html.TableHelper("ListInvoices").Pagination()
</section>
<section id="Config">
    <h4>Config</h4>
    <pre class="prettyprint table-config">
    public class CategoryConfigurator : ITableConfigurator&lt;Invoice&gt;
    {
        public void Configure(ITableConfiguration&lt;Invoice&gt; config)
        {
            config
                .SetCssClass("table table-striped")
                .DisplayForColumn(m => m.ProductName)
                .DisplayForColumn(m => m.Quantity)
                .DisplayForColumn(m => m.Region)
                .DisplayForColumn(m => m.Salesperson)
                .EditorForColumn(m => m.Discount);
        }
    }
</pre>

</section>
<section id="ChildAction">
    <h4>Child Action</h4>
    <pre class="prettyprint table-config">
        public ActionResult ListCategories(TableRequestModel request)
        {
            var entities = new NorthwindEntities.NorthwindEntities(NorthwindServiceUrl);
            var categories = entities.Categories;
          
            return new TableResult&lt;Category&lt;(categories, request);
        }
</pre>

</section>
<section id="Markup">
    <h4>Markup</h4>
    <pre class="prettyprint table-config">
    @@Html.Action("ListInvoices", new { request = new TableRequestModel() })
</pre>
</section>