@using MvcTables.Samples.App_Start
@{
    ViewBag.Title = "Kitchen Sink";

    var parentTable = Html.MvcTable(() => new ParentOrderTable());
    var childTable = Html.MvcTable(() => new ChildOrderDetailTable());
}

<h2>Kitchen Sink</h2>
<section id="Result">
    <h4>Result</h4>
    <div class="row-fluid">
        <div class="span6">
            <form class="mvc-table-filter" novalidate="novalidate">
                <fieldset>
                    <legend>Filters</legend>
                    <div>
                        <input type="submit" value="Search" class="btn btn-primary">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <fieldset>
                <legend>Orders @parentTable.PageSizer(new[]{5, 10, 25, 50}, new{@class="pull-right"})</legend>
                @parentTable.Table()
                @parentTable.Pagination()
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>Details</legend>
                @childTable.Table()
            </fieldset>
        </div>
    </div>
</section>